AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# GCP Configuration (Placeholder - güncellenecek)
GCP_PROJECT_ID=my-project-id
GCP_DATASET=my-dataset-name
GCS_BUCKET=my-sales-data-bucket

COMPOSER_ENV=my-composer-env
COMPOSER_LOCATION=europe-west1

# Google Cloud Service Account Key Path
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/gcp-key.json
GCP_KEY_PATH=/opt/airflow/credentials/gcp-key.json
